body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  font-size: 90%;
}
html {
  overflow: hidden;
  overflow-y: auto;
  background-color: #f7f7f7;
  font-size: 90%;
}
body {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: #f7f7f7;
  overflow: hidden;
  position: relative;
  height: auto;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  min-height: 100%;
}
.menu {
  position: absolute;
  top: 30px;
  right: 15px;
}
.menu a.btn {
  display: block;
  width: 33px;
  height: 33px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59615/icon--menu.svg");
  background-size: 24px 24px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 2px;
  filter: invert(1);
  opacity: 0.2;
}
.menu a.btn:hover {
  opacity: 1;
  filter: invert(0);
  background-color: #eaeaea;
}
a {
  color: #4495d4;
  font-family: inherit;
  text-decoration: none;
}
a:hover {
  color: #4495d4;
  text-decoration: underline;
}
a:focus {
  color: #2a79b6;
  text-decoration: underline;
}
.wrapper {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  padding: 0 7px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  top: 39.3%;
  z-index: 12;
}
.wrapper .duck {
  background-image: url("../images/arxiv_logo.svg");
  background-size: 400px 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 400px;
  /* max-width: 300px; */
  height: 400px;
  display: block;
  position: relative;
  font-size: 0;
  margin: auto;
  margin-bottom: 0.8em;
  margin-top: -1.25em;
  text-indent: -9999px;
}
.wrapper .search {
  box-sizing: border-box;
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 590px;
  padding: 1.9em 0.8em 0;
  margin-top: 1.8em;
}
.wrapper .search form {
  background-color: #fff;
  font-size: 1.14em;
  padding-left: 0.75em;
  padding-right: 3.5em;
  border-radius: 3px;
  display: block;
  position: relative;
  height: 2.98em;
  margin-top: -1.4em;
  border: 0.5px solid #d9d9d9;
  box-shadow: 0 2px 3px rgba(0,0,0,0.06);
}
.wrapper .search form input {
  font-size: 1.2em;
  font-weight: 300;
  color: #333;
  display: block;
  width: 100%;
  background: none;
  position: relative;
  border: 0;
  padding: 0;
  height: 2.55em;
  z-index: 1;
  top: -1px;
  outline: 0;
}
.wrapper .search form .btn {
  box-sizing: content-box;
  color: rgba(0,0,0,0.33);
  border: none;
  border-radius: 0 3px 3px 0;
  min-width: 26px;
  cursor: pointer;
  font-size: 1.25em;
  line-height: 1.5;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59615/icon--search.svg");
  background-size: 28px;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 0 0.64em;
  height: 44px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  outline: none;
}

.wrapper .search form .btn:hover {
  background-color: #66ad57;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59615/icon--search-white.svg");
  background-size: 28px;
}
.wrapper .search form .btn:active {
  background-color: #333;
}
.wrapper .message {
  position: relative;
  padding-top: 1.25em;
  margin: 0 auto;
  text-align: center;
  line-height: 1.4;
  font-size: 1.4em;
}
.wrapper .message span {
  color: #9a9a9a;
}

